html, body {
	height: 100%;
}
body {
	margin: 0;
	font-family: sans-serif;
}

#scene {
	/* positioning */
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	--tile-size: 20px;
	/* background */
	background: url(../assets/grid.png), url(../assets/Background.png), #007dff;
	background-size: var(--tile-size), cover, auto;
	background-position: 0px 60vh;
}
#scene > div.regularPos {
	position: absolute;
	/*             Invert                         Y * tileSize */
	top: calc(calc(60% - var(--tile-size)) - calc(var(--y) * var(--tile-size)));
	left: calc(var(--x) * var(--tile-size));
	width: var(--tile-size);
	height: var(--tile-size);
}
.stage {
	/* positioning */
	position: absolute;
	width: 100%;
	height: 40%;
	bottom: 0;
	/* img */
	background: url(../assets/Ground_Main.svg), #007dff;
}

#editor {
	/* positioning */
	position: absolute;
	width: 100%;
	height: 35%;
	bottom: 0;
	box-sizing: border-box;
	/* img */
	background: white;
	padding: 1em;
	overflow-y: auto;
	z-index: 10;
}
.option-element {
	display: inline-block;
	margin: 0.5em;
	padding: 0.5em;
	border: 1px solid black;
	transition: color 0.3s linear, background-color 0.3s linear;
	color: black;
	background-color: #007dff;
}
.option-element.option-element-selected {
	color: white;
	background-color: black;
}
.editing {
	margin-top: 0.5em;
	border-top: 1px solid black;
	padding-top: 0.5em;
}